/** fuentes **/
.fuente-admin, .fuente-nosotros{
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size : 16px;
	
}

/***------- HOME ------***/
body {
	background: #d9d9d9;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-bottom: 5px;
}

.navbar {
  border-bottom: #388e3c 4px solid;
  opacity: 0.9;
  font-family: 'Signika', sans-serif;
  font-weight: 600;
}

.nav-item::after{content:'';display:block;width:0px;height:2px;background:#388e3c;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#388e3c;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#388e3c;}
.dropdown-item:focus, .dropdown-item:hover{background:#388e3c;}

.nav-link {
  font-size: 16px;
}

.sesiones a {
	width: 100px;
	height: 30px;
	font-size: 12px;
}
.titulo {
	font-family: 'Signika', sans-serif;
	font-weight: 500;
	color: #388e3c;
}

.bloque-cards {
  background-color: #00b33c;
}

.img-logo {
	width:184px;
	height: 40px;
	margin-right: 5px;
}

.img-sesion {
	border-radius: 550px;
	width: 35px;
	height: 35px;
	overflow: hidden;
	text-align: center;
}

.dropdown button{
	font-size: 14px;
	padding: 5px;
}

.dropdown-menu{
	background-color: #ffffff;
}
.btn-sesion{
	background-color: #388e3c;
	opacity: 0.9;
}

.cañas {
  color: #2d862d;
  font-family: 'Signika', cursive;
  font-weight: 600;
  font-size: 17px;
  font-weight: bold;
}

/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#poematik{
	color:#2d862d;
	font-weight: 800;
	/*text-transform:uppercase;*/
}

/** POP UPs (IniciSesion y Registrarse) **/
.form-group {
	margin-left: 40px;
	position: relative;
}
.form-group input {
	color: #0d0d0d;
	width: 80%;
	margin-bottom: 3px;
}

.effect-1 {border: 0; padding: 7px 0; border-bottom: 2px solid #ccc;}
.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 3px; background-color: #4caf50; transition: 0.5s;}

.effect-1:focus ~ .focus-border{width: 80%; transition: 0.5s;}

/** POP UPs (IniciSesion y Registrarse) **/

/** ABOUT/NOSOTROS **/
.foto-header {
	background-image: url("../img/veil_art.jpg");
}
.fondo-about{
	background-color: #f6f6f6;
}

.carta {
	background-color: #2d862d;
}
/** ABOUT **/


/** FOOTER **/
footer a{
	color: #2d862d;
	font-size: 16px;
}
footer p {
	font-size: 16px;
}
.icono {
	font-size: 27px;
}
/** FOOTER **/


/***------- REGISTRO y LOGIN ------***/
.modal-header{
	background-color: #f5f5f5;
}

.sesion{
	background: #2d862d;
}

.sesion:hover {
	background: rgb(45, 134, 45);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #000000;
}

.sesion-cancel {
	background: rgb(217, 217, 217);
}
.sesion-cancel:hover {
	background: rgb(140, 140, 140);
	box-shadow: inset 0 0 0 3px #000000;
}

.modal-body{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	line-height: 0px;
}

form button {
	float: right;
}
/***------- REGISTRO ------***/



/***------- TABLA DE USUARIOS ------***/
#tabla_usuarios thead{ background-color: #2d862d; }

.img-perfil {
    background: #eee;
    border-radius: 550px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
}

/***------- PORTADA ------***/
/* Animaciones*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
/* Animaciones*/

.entrada {
	 overflow:hidden;
}

.entrada:hover{
	 overflow:hidden;
	 -webkit-transform:scale(1.0);
	 transform:scale(1.0);
}

.pequeña_entrada:hover {
	filter: opacity(.5);
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

/** Editar publicaciones **/
body .editar{
	background-color: #3fbac2;
}

.btn-change{
    background: #d3d4d8;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: rgb(140, 140, 140);
}

/************ MI PERFIL ************/
.img-usuario{
	background: #eee;
	border-radius: 550px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-align: center;
}

.texto-pequeño {
	line-height: 1.1;
	font-size: 14px;
}


/*----------- MI PERFIL -----------*/
.estadisticas span {
		color: #2d862d;
		display: block;
		font-size: 16px;
		font-weight: bold;
		padding-right: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.div-imagen:hover .image {
  opacity: 0.4;
}

.div-imagen:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.card.hovercard img {
  width: 100%;
  height: 50%;
}

.card.hovercard .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.card.hovercard .avatar img {
  max-width: 120px;
  max-height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.info-usuario {
	font-size: 17px;
}

.info-usuario .text-muted {
	font-size: 12px;
}

.alerta-editar{
	font-size: 14px;
}

.img-recomendados {
	background: #eee;
	border-radius: 550px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-align: center;
}

.media-body {
	padding: 10px;
	font-size: 14px;
}

.btn-recomendados{
	border: 1px solid #388e3c;
	color:#388e3c;
}

.btn-recomendados:hover{
	border: 1px solid white;
	background-color: #388e3c;
	color: white;
}

/** NOSOTROS **/
.img-nosotros {
	background: #eee;
	border: 4px solid #388e3c;
	border-radius: 550px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	text-align: center;
}

.card-img-top{
  width:100%;
  height:auto;
}



/** modals **/

label {
  display: block;
  position: relative;
  margin: 40px 0px;
  padding-left: 15px;
}

input {
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 80%;
  height: 3px;
  font-size: 12px,
  padding-left: 15px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #388e3c;
  transition: ease .6s;
}

input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 5px;
  font-weight: 700;
  font-size: 17px;
  color: black;
  transition: ease .3s;
}

.label-active {
  top: -3em;
	font-size: 17px;
}

input::placeholder {
	color:#cccccc;

}